@using static EBookStoreCore.Utilities.ClassEnum;
@model EBookStoreModel.Dtos.CategoryListDto
@if (Model.ResultStatus == ResultStatus.Success)
{
       <div class="table-responsive">
           <table class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad</th>
                <th>Açıklama</th>
                <th>Aktif mi?</th>
                <th>Oluşturulma Tarihi</th>
            </tr>
        </thead>
        <tbody>
           
                @foreach(var i in Model.Categories)
                {
                   <tr>
                       <td>@i.ID</td>
                       <td>@i.Name</td>
                       <td>@i.Description</td>
                       <td>@i.IsActive</td>
                       <td>@i.CreatedDate.ToShortDateString()</td>
                   </tr>
                }
          
        </tbody>
    </table>
       </div>

    
    
}
